In [1]:
import pandas as pd
import json

In [7]:
ls yelp_data/

yelp_academic_dataset_business.json  yelp_academic_dataset_review.json
yelp_academic_dataset_checkin.json   yelp_academic_dataset_tip.json
yelp_academic_dataset_photo.json     yelp_academic_dataset_user.json
yelp_academic_dataset_review.csv

In [3]:
# read the entire file into a python array
def load_yelp_json(json_file):
    with open("yelp_data/" + json_file, 'r') as f:
        data = f.readlines()

    # remove the trailing "\n" from each line
    data = map(lambda x: x.rstrip(), data)

    data_json_str = "[" + ','.join(data) + "]"

    # now, load it into pandas
    data_df = pd.read_json(data_json_str)
    return data_df

In [4]:
bus_df = load_yelp_json("yelp_academic_dataset_business.json")
#review_df = load_yelp_json("yelp_academic_dataset_review.json")
#checkin_df = load_yelp_json("yelp_academic_dataset_checkin.json")
#tip_df = load_yelp_json("yelp_academic_dataset_tip.json")

In [13]:
bus_df.loc[bus_df['city'] == 'Seattle']

Empty DataFrame
Columns: [address, attributes, business_id, categories, city, hours, is_open, latitude, longitude, name, neighborhood, postal_code, review_count, stars, state]
Index: []

In [6]:
! python yelp_scripts/json_to_csv_converter.py yelp_data/yelp_academic_dataset_review.json

In [9]:
review_df = pd.read_csv("yelp_data/yelp_academic_dataset_review.csv")

In [11]:
review_df.head()

,funny,user_id,review_id,text,business_id,stars,date,useful,cool
0,0,msQe1u7Z_XuqjGoqhB0J5g,x7mDIiDB3jEiPGPHOmDzyw,The pizza was okay. Not the best I've had. I p...,iCQpiavjjPzJ5_3gPD5Ebg,2,2011-02-25,0,0
1,0,msQe1u7Z_XuqjGoqhB0J5g,dDl8zu1vWPdKGihJrwQbpw,I love this place! My fiance And I go here atl...,pomGBqfbxcqPv14c3XH-ZQ,5,2012-11-13,0,0
2,1,msQe1u7Z_XuqjGoqhB0J5g,LZp4UX5zK3e-c5ZGSeo3kA,Terrible. Dry corn bread. Rib tips were all fa...,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,3,1
3,0,msQe1u7Z_XuqjGoqhB0J5g,Er4NBWCmCD4nM8_p1GRdow,Back in 2005-2007 this place was my FAVORITE t...,elqbBhBfElMNSrjFqW3now,2,2011-02-25,2,0
4,0,msQe1u7Z_XuqjGoqhB0J5g,jsDu6QEJHbwP2Blom1PLCA,Delicious healthy food. The steak is amazing. ...,Ums3gaP2qM3W1XcA5r6SsQ,5,2014-09-05,0,0